[submodule "methods/ever_training"]
	path = methods/ever_training
	url = https://github.com/N-Demir/ever_training.git
	branch = nvs-bench
[submodule "methods/EDGS"]
	path = methods/EDGS
	url = https://github.com/N-Demir/EDGS.git
	branch = nvs-bench
[submodule "methods/3dgrut"]
	path = methods/3dgrut
	url = https://github.com/N-Demir/3dgrut.git
	branch = nvs-bench
[submodule "methods/gaussian-splatting"]
	path = methods/gaussian-splatting
	url = https://github.com/N-Demir/gaussian-splatting
[submodule "methods/triangle-splatting"]
	path = methods/triangle-splatting
	url = https://github.com/N-Demir/triangle-splatting
[submodule "methods/gsplat"]
	path = methods/gsplat
	url = https://github.com/N-Demir/gsplat
[submodule "methods/LichtFeld-Studio"]
	path = methods/LichtFeld-Studio
	url = https://github.com/MrNeRF/LichtFeld-Studio.git
[submodule "methods/brush"]
	path = methods/brush
	url = https://github.com/N-Demir/brush
[submodule "methods/on-the-fly-nvs"]
	path = methods/on-the-fly-nvs
	url = https://github.com/N-Demir/on-the-fly-nvs
