[submodule "methods/ever_training"]
	path = methods/ever_training
	url = https://github.com/N-Demir/ever_training.git
	branch = nvs-bench
[submodule "methods/EDGS"]
	path = methods/EDGS
	url = https://github.com/N-Demir/EDGS.git
	branch = nvs-bench
[submodule "methods/3dgrut"]
	path = methods/3dgrut
	url = https://github.com/N-Demir/3dgrut.git
	branch = nvs-bench
[submodule "methods/gaussian-splatting"]
	path = methods/gaussian-splatting
	url = https://github.com/N-Demir/gaussian-splatting
[submodule "methods/3DGS-LM"]
	path = methods/3DGS-LM
	url = https://github.com/N-Demir/3DGS-LM
